services:
  promeb_app:
    build:
      context: .
      dockerfile: Dockerfile.prod
      target: php_app        # ⬅️ utilise le stage PHP du Dockerfile
    container_name: promeb_app
    restart: always
    environment:
      APP_ENV: production
      APP_DEBUG: "false"
      APP_URL: https://promeb.hotel-longchamps.fr
      APP_KEY: ${APP_KEY}           # à définir dans ton .env serveur
      DB_CONNECTION: mysql
      DB_HOST: promeb_db
      DB_PORT: 3306
      DB_DATABASE: ${MYSQL_DATABASE}
      DB_USERNAME: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
    networks:
      - sites_network

  promeb_nginx:
    build:
      context: .
      dockerfile: Dockerfile.prod
      target: nginx_app       # ⬅️ utilise le stage NGINX du Dockerfile
    container_name: promeb_nginx
    restart: always
    depends_on:
      - promeb_app
    networks:
      - sites_network

  promeb_db:
    image: mysql:8.0
    container_name: promeb_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - promeb_dbdata:/var/lib/mysql
    networks:
      - sites_network

volumes:
  promeb_dbdata:

networks:
  sites_network:
    external: true
